<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script>
        function enviarForm() {
            if($('#password').val() != $('#password2').val())
            {
                alert('Las contraseñas no coinciden!');
                return false;
            }

            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/polls/addUser/",
                data: JSON.stringify({ username: $('#username').val(), first_name: $('#first_name').val(), last_name: $('#last_name').val(), password: $('#password').val(), email: $('#email').val() }),
                contentType: "application/json; charset-utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    window.location = "http://127.0.0.1:8000/polls/verImagenes";
                },
                failure: function (data) {
                    console.log(data);
                    alert('Hubo error!');
                }
            });
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Sign Up</h2>
        </div>
        <form action="" method="post" onsubmit="return enviarForm();">
            <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required=""><br>
            <input id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control input-md" required=""><br>
            <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control input-md" required=""><br>
            <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required=""><br>
            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required=""><br>
            <input id="password2" name="password2" type="password" placeholder="Password Confirmed" class="form-control input-md" required=""><br>

            <input type="submit" value="Registrar" class="btn btn-primary">
            <a href="http://localhost:8000/polls/verImagenes" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>
</body>
</html>